body{
    background-color: rgb(253, 242, 221);
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    background-color: rgb(76, 189, 151);
    color: white;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 65px;
    color: white;
    text-align: center;
    background-color: rgb(236, 72, 72);
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
    color: white;
    text-align: center;
    background-color: rgb(255, 209, 103);
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: white;
    text-align: center;
    background-color: rgb(255, 209, 103);
}

image{
    align-items: center;
    max-width: 500px;
    min-width: auto;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(193, 154, 104);
    text-align: left;
}

li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(193, 154, 104);
    text-align: left;
}

.center{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

a:(.no-style){
    color: white;
    text-decoration: none;
}

a:link{
    color: rgb(151, 117, 74);
    text-decoration: none;
}

a:visited{
    color: rgb(151, 117, 74);
    text-decoration: none;
}

a:hover{
    color: rgb(151, 117, 74);
    text-decoration: none;
}